<!-- =========================
   CONTACT US
============================== -->

<section class="contact-us" id="contact">
  <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header">

      <!-- SECTION TITLE -->
      <h2 class="white-text">Contact</h2>

      <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
      <h6 class="white-text">
        Vous avez des questions ? Envoyez nous un message. Vous aurez votre réponse en 24h.
      </h6>
    </div>
    <!-- / END SECTION HEADER -->

    <!-- CONTACT FORM-->
    <div class="row">
      <form role="form" action="#" class="contact-form">
        <div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="col-lg-4 col-sm-4">
            <input type="text" name="name" placeholder="Your Name" class="form-control input-box">
          </div>
          <div class="col-lg-4 col-sm-4">
            <input type="email" name="email" placeholder="Your Email" class="form-control input-box">
          </div>
          <div class="col-lg-4 col-sm-4">
            <input type="text" name="subject" placeholder="Subject" class="form-control input-box">
          </div>
        </div>

        <div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <textarea name="message" class="form-control textarea-box" placeholder="Your Message"></textarea>
        </div>
        <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">ENVOYEZ</button>
      </form>
    </div>
    <!-- / END CONTACT FORM-->
  </div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->