<!-- =========================
   FEATURES SECTION   
============================== -->
<section class="features" id="serrurerie">
<div class="container">
		
		<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Sérrurerie</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Déplacement sur place pour prise de mesure afin d'effectuer un devis gratuit
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- FEATURS -->
	<div class="row">
		
		<!-- FEATURES COLUMN LEFT -->
		<div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-dashboard-speed-streamline"></i>
				</div>
				<h5>Rapidité</h5>
				<p>
					 Pour tout soucis de serrurerie, Active Verre intervient dans les plus brefs délais, et à moindre coût.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-map-streamline-user"></i>
				</div>
				<h5>Intervention</h5>
				<p>
					 Nous intervenons sur toute l'Ile de France, pour un dépannage, ou une installation, nos fournisseurs sont des prestataires spécialisés pour les plus grandes marques de serrures.
				</p>
			</div>
			 <!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-streamline-sync"></i>
				</div>
				<h5>Changement</h5>
				<p>
					 Pour tout changement de cylindre ou de serrure, Active Verre vous propose un devis gratuit, n'hésitez pas à vous rendre dans la rubrique Contact afin de nous faire parvenir votre demande.

				</p>
			</div>
			<!-- / END FEATURE -->
		</div> <!-- / FEATURES COLUMN LEFT -->
		
		<!-- FEATURES COLUMN RIGHT -->
		<div class="col-md-6 col-sm-6 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-diamond-1"></i>
				</div>
				<h5>Sans dégâts</h5>
				<p>
					 En cas de perte de clefs par exemple, nous intervenons dans les plus brefs délais, et avec un grand soin afin de ne pas occasionner de dégats.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-mail"></i>
				</div>
				<h5>Renseignement</h5>
				<p>
					 Pour un simple renseignement, un dépannage urgent, ou un devis, contactez-nous dès à présent.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-clipboard-1"></i>
				</div>
				<h5>Devis</h5>
				<p>
					 Pour tout changement de cylindre ou de serrure, Active Verre vous propose un devis gratuit, n'hésitez pas à vous rendre dans la rubrique Contact afin de nous faire parvenir votre demande.
				</p>
			</div>
			<!-- / END FEATURE -->
			
		</div> <!-- / END FEATURES COLUMN RIGHT -->
	</div> <!-- / END FEATURES -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END FEATURES SECTION -->