<!-- =========================
   FEATURES SECTION   
============================== -->
<section class="features" id="metallerie">
<div class="container">
		
		<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Métallerie</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Déplacement sur place pour prise de mesure afin d'effectuer un devis gratuit
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- FEATURS -->
	<div class="row">
		
		<!-- FEATURES COLUMN LEFT -->
		<div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-arrow-streamline-target"></i>
				</div>
				<h5>Qualité</h5>
				<p>
					  La métallerie Active Verre vous propose ses services de menuiserie métallique - PVC - Aluminium, afin de répondre à tout vos projets de rénovation ou neuf.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-banknote"></i>
				</div>
				<h5>Economie</h5>
				<p>
					 La performance de vos fenêtres, et vos économies de chauffage dépendront de la qualité de pose.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-star-1"></i>
				</div>
				<h5>Création</h5>
				<p>
					  Nous avons la possibilité de créer sur-mesure et selon vos désirs, toute structure métallique : chassis de fenêtre, véranda, portail, clôture, garde-corps, rampe, passerelle, rideau métallique
				</p>
			</div>
			<!-- / END FEATURE -->
		</div> <!-- / FEATURES COLUMN LEFT -->
		
		<!-- FEATURES COLUMN RIGHT -->
		<div class="col-md-6 col-sm-6 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-home-house-streamline"></i>
				</div>
				<h5>Rénovation fenêtre</h5>
				<p>
					  Pensez également à une rénovation de vos fenêtres, car quelle que soit la région où vous vivez, les portes et fenêtres de votre habitation sont soumises à des conditions climatiques plus ou moins rudes.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-clock-streamline-time"></i>
				</div>
				<h5>Optimisation</h5>
				<p>
					 De plus, sachez que vos fenêtres sont bien souvent une perte de chaleur importante dans votre maison, et que des fenêtres de qualités et parfaitement posées sont une réelle économie de chauffage.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-chef-food-restaurant-streamline"></i>
				</div>
				<h5>Propreté</h5>
				<p>
					 Grâce à son savoir-faire, Active Verre rénove et remplace vos fenêtres sans le moindre dégât. 
  					Si le cadre existant est suffisamment sain, nous posons votre nouvelle fenêtre sur celui-ci.
				</p>
			</div>
			<!-- / END FEATURE -->
			
		</div> <!-- / END FEATURES COLUMN RIGHT -->
	</div> <!-- / END FEATURES -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END FEATURES SECTION -->