<!-- =========================
   FEATURES SECTION   
============================== -->
<section class="features" id="features">
<div class="container">
		
		<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Miroiterie</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Déplacement sur place pour prise de mesure afin d'effectuer un devis gratuit
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- FEATURS -->
	<div class="row">
		
		<!-- FEATURES COLUMN LEFT -->
		<div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-design-pencil-rule-streamline"></i>
				</div>
				<h5>Maintenance</h5>
				<p>
					 Nous pouvons également vous proposer la maintenance ou l'entretien des entrées de tous sites industriels, administratifs et privés. 
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-like"></i>
				</div>
				<h5>Qualité</h5>
				<p>
					 Quel que soit l'élément que vous ayez à installer ou mettre en œuvre, la miroiterie Active Verre peut s'en charger car elle est parfaitement équipée dans ce domaine et possède des techniciens hautement qualifiés.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-crop-streamline"></i>
				</div>
				<h5>Installation</h5>
				<p>
					 La miroiterie Active Verre se charge d'installer les éléments en verre dans leurs structures et de les mettre en œuvre en intérieur comme en extérieur.
				</p>
			</div>
			<!-- / END FEATURE -->
		</div> <!-- / FEATURES COLUMN LEFT -->
		
		<!-- FEATURES COLUMN RIGHT -->
		<div class="col-md-6 col-sm-6 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-params"></i>
				</div>
				<h5>Technique</h5>
				<p>
					 Retrouvez toutes les techniques de décoration utilisées par la miroiterie Active Verre pour transformer les volumes de verre en véritables œuvres d'art ou pièces de collection.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-fire"></i>
				</div>
				<h5>Urgence</h5>
				<p>
					 Protection d'une zone dangereuse suite à un incident, fermeture provisoire de magasin, appartement ou maison, remplacement de vitrage simple et double étanchéité d'une verrière ou d'une véranda.
				</p>
			</div>
			<!-- / END FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-bulb"></i>
				</div>
				<h5>Innovation</h5>
				<p>
					 Création et remplacement de tous type de vitrerie. Devanture de magasin, simple et double vitrage, mur rideau, verre trempé, fenêtre PVC-BOIS-ALU, survitrage, véranda.
				</p>
			</div>
			<!-- / END FEATURE -->
			
		</div> <!-- / END FEATURES COLUMN RIGHT -->
	</div> <!-- / END FEATURES -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END FEATURES SECTION -->