<!-- =========================
   PRODUCTS SECTION   
============================== -->

<section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
	<div class="container">
			
    <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Produits</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			We design &amp; develop qaulity products to help small &amp; medium level business.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
		
		<!-- PRODUCTS -->
		<div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            
            <!-- SINGLE PRODUCT -->
                <div class="col-md-3">
				<div class="item item-1">
					<div class="item-overlay">
						<!--<%= image_tag ('serrure.png')%> -->
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>One Light</h5>  <!-- PRODUCT TITLE-->
										<p class="subdescription">
											 WordPress Theme
										</p> <!-- PRODUCT DESCRIPTION-->
									</div>
								</div>
								<div class="item-product-price">
									<!-- PRICE -->
									<span class="price-num green-text">$17</span> 
									<!-- OLD PRICE START -->
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div> <!-- END OLD PRICE -->
								</div>
							</div>
						</div>
						
						<!-- ITEM HOVER CONTENT-->
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative WordPress Theme
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- / END FIRST ITEM -->
			
			<div class="col-md-3">
				<div class="item item-2">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Telfez</h5>
										<p  class="subdescription">
											 WordPress Theme
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$17</span>
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative WordPress Theme
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-3">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Calender</h5>
										<p class="subdescription">
											 Widget
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$9</span>
									<p class="subdescription">
										 $15
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Beautiful Calender Widget
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-4">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Toolbar</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$11</span>
									
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Beautiful Toolbar with Icons
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div> <!-- END FIRST ROW -->
			
			<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-md-3">
				<div class="item item-5">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Public Radio</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$15</span>
									<p class="subdescription">
										 $23
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative Radio PSD
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-6">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Health Care</h5>
										<p class="subdescription">
											 One Page Template
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$18</span>
									<p class="subdescription">
										 $30
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Responsive One Page Template
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-7">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Radio Dial</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$10</span>
									
								
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative WordPress Theme
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="item item-8">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Pricing Page</h5>
										<p class="subdescription">
											 UI Element
										</p>
									</div>
								</div>
								<div class="item-product-price">
									<span class="price-num green-text">$17</span>
									<p class="subdescription">
										 $36
									</p>
									<div class="old-price">
									</div>
								</div>
							</div>
						</div>
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Creative UI Element
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- / END PRODUCTS LIST -->
	</div> <!-- / END CONTAINER -->
</div> <!-- / END COLOR OVERLAY -->
</section> <!-- / END PRODUCTS SECTION -->
