<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="focus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Descriptif société</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Installation - Dépannage - Rénovation
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 4 FOCUS BOXES -->
	<div class="row">
		
		<!-- FIRST FOCUS BOXES -->
		<div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<i class="pixeden pd-icon-shop"></i> <!-- FOCUS ICON-->
			</div>
			<h5 class="red-border-bottom">Miroiterie</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				La miroiterie Active Verre réalise tous vos dépannages en miroiterie.
				Déplacement sur place pour prise de mesure afin d'effectuer un devis gratuit.
  				Nous intervenons même sur les lieux difficiles d'accès grâce à nos engins spécifiques.
			</p>
		</div>
		<!-- / END FIRST FOCUS BOX. Other boxes has same format -->
		
		<div class="col-lg-4 col-sm-4 focus-box yellow wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<span class="pixeden pd-icon-lock"></span>
			</div>
			<h5 class="yellow-border-bottom">Serrurerie</h5>
			<p>
				Nous intervenons sur toute l'Ile de France, pour un dépannage, ou une installation, nos fournisseurs sont des prestataires spécialisés pour les plus grandes marques de serrures.
			</p>
		</div>
		<!--
		<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<i class="pixeden pd-icon-email-marketing"></i>
			</div>
			<h5 class="blue-border-bottom">Email Marketing</h5>
			<p>
				 Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
			</p>
		</div>-->
		
		<div class="col-lg-4 col-sm-4 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<i class="pixeden pd-icon-truck"></i>
			</div>
			<h5 class="blue-border-bottom">Métallerie</h5>
			<p>
				La métallerie Active Verre vous propose ses services de menuiserie métallique - PVC - Aluminium, afin de répondre à tout vos projets de rénovation ou neuf, en vous garantissant un travail de qualité par notre technicien.
			</p>
		</div>
	</div>
	<!-- / END 4 FOCUS BOXES -->
	
	<!-- OTHER FOCUSES 
	<div class="other-focuses">
		<h5><span class="section-footer-title">ALSO WE FOCUS ON</span></h5>
	</div>-->
	
	<!-- OTHER FOCUS LIST 
	<div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<ul>
			<li><i class="icon-fontawesome-webfont-8"></i>WEB APPLICATIONS</li>
			<li><i class="icon-fontawesome-webfont-267"></i>SEARCH ENGINE OPTIMIZATION</li>
			<li><i class="icon-fontawesome-webfont-75"></i>CLOUD STORAGE</li>
			<li><i class="icon-fontawesome-webfont-358"></i>Project Management</li>
			<li><i class="icon-fontawesome-webfont-102"></i>IOS APP</li>
			<li><i class="icon-fontawesome-webfont-328"></i>ANDROID APP</li>
			<li><i class="icon-fontawesome-webfont-195"></i>WINDOWS APP</li>
			<li><i class="icon-fontawesome-webfont-297"></i>UX STRATEGY</li>
		</ul>
	</div> <!-- / END OTHER FOCUS LIST -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->